header h1 {
  font-family: 'Permanent Marker';
  font-size: 30px;
  line-height: 33px;
  margin-left: 60px;
  margin-top: 30px;
  display: inline-block;
}

nav {
  display: inline-block;
  float: right;
  margin-right: 60px;
}
ul {
  font-family: Comfortaa, 'sans-serif';
  font-size: 20px;
  line-height: 31px;
  list-style-type: none;
  text-align: right;


}

li{
  display: inline;
  
}
h1 {
  font-family: 'Roboto Slab', 'sans-serif';
}

p {
  font: 15px/24px 'Roboto Slab';


}
