<head>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa|Amatic+SC" rel="stylesheet">
  <script src="static/js/masonry.pkgd.min.js"></script>
  <script src="static/js/masonryfooter.js"></script>
  <title>
    {{ title }}
  </title>
</head>

<header>
  <a href ="/">
    <img src="/static/img/whitetickit_logo_only.png" alt="Tick It LOGO" width=80 height=80></a>
    <h1>
      Tick It

      {% if is_user %}
        , {{ user }}
      </h1>
        <nav>
        <a href="/logout">
          Sign Out
        </a>
      {% end if %}

      {% if not is_user %}
    </h1>
        <nav>
        <a href="/login">
          Log In
        </a>
        <a href="/user/create" >
          Sign Up
        </a>
      {% end if %}

  </nav>
</header>
