<!DOCTYPE html>

{% include header.html %}

<main>
  <body>
    <img src="/static/img/header.jpg" alt = 'What Next? Slogan' id = 'header'>
    <h1>
      About Tick It
    </h1>
    <p>
      Tick It is a revolutionary website changing the face of social media. This site provides inspiration for people to believe in their capacity to achieve their dreams, reach for the stars placing no limit upon themselves and live life to the fullest. Using our incredible website users will experience the latest in social media, sharing their experiences in a new format of a digital Bucket Lists.
    </P>
  </body>
</main>
