<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
</head>

<title>
  Login
</title>

<body>
  <header>
      <img src="" alt="Temp Logo" width=80 height=80>
  </header>

  <main>
    <form action="/login" method="post">

  <main class="login-section">
    <form action="#">
          <input type="text" name="username" placeholder="Username" size="40">
          <input type="password" name="password" placeholder="Password" size="40">
          <button class="login-button">
            LOGIN
          </button>
    </form>
  </main>

</body>
</html>
