<!DOCTYPE html>
{% include header.html %}
<main id="list-main">
    <h1>
    {{user}}'s Tick It List
  </h1>
  <form action="/list/{{ list_id }}" method="post">

    {% for item in bucket%}
    <img src="{{items[item].image}}" alt="item" width=80 height=80>
    <p>{{items[item].text}}</p>
    {% if user == logged_in_username%}
    <input type="checkbox" name="check{{bucket.index(item)}}">
    {% end if %}
    {% end for%}

    {% if user == logged_in_username%}
    <button class="add-button">
    <a href="/list/create">Add</a>
    </button>
    {% end if %}

    <button class="save-button" type="submit">
    Save
    </button>
  </form>
</main>
