<!DOCTYPE html>
{% include header.html %}
<main id="list-main">
    <h1>
    {{user}}'s Tick It List
  </h1>
  <form action="/list/{{ list_id }}" method="post">
  {% for item in bucket %}
    {% if user == logged_in_username %}
      <input type="checkbox" name="check{{ item }}" id="check{{ item }}"
      {% if items[item].completed %}checked{% end if %}>
    {% end if %}
    <label for="check{{ item }}" class="item">
      <figure>
        <{%if not items[item].image.endswith('.mp4')%}img{% end if %}{%if items[item].image.endswith('.mp4')%}video{%end if%} src="{{ items[item].image }}" alt="item" {% if items[item].image.endswith('.mp4')%}controls{%end if %}>
        {% if items[item].text != "" %}
          <figcaption>{{ items[item].text }}</figcaption>
        {% end if %}
      </figure>
    </label>
  {% end for %}
  
  <!--comment section here-->
  <div style="width:40%;">
  <h2>Comments</h2>
  <form action="/list/{{ list_id }}" method="post">
  <textarea name="comment" placeholder="Comment.">
  </textarea>
  <button type="submit">
  Post
  </button>
  </form>
  </div>
  {% for comment in comments%}
  <div style="width:40%;padding:auto;">
  <h4>Author: {{ comment.get_name() }}</h4>
  <p>Date Posted: {{ comment.fix_date(comment.date[0:16]) }}</p>
  <p>{{ comment.text }}</p>
  </div>
  {% end for %}

  {% if user == logged_in_username %}
  <a href="/list/create" class="upload-button">+</a>
  <button class="save-button" type="submit">
    &#10003;
  </button>
  {% end if %}

    <script src="../js/masonryfooter.js"></script>
</form>
</main>
