<!DOCTYPE HTML>

{% include header.html %}
	
<main class="news-feed"></main>
<script src="/static/js/jquery-3.1.1.min.js"></script>
<script src="/static/js/jquery.justified.min.js"></script>
<script>
  //var photos = ['/static/img/news_feed/1.jpeg', '/static/img/news_feed/2.png', '/static/img/news_feed/3.jpeg', '/static/img/news_feed/4.jpeg', '/static/img/news_feed/5.jpeg', '/static/img/news_feed/6.jpeg', '/static/img/news_feed/7.jpeg', '/static/img/news_feed/8.jpeg', '/static/img/news_feed/9.jpeg','/static/img/news_feed/10.png'];
  var incomplete = ['/static/img/news_feed/1.jpeg', '/static/img/news_feed/3.jpeg' , '/static/img/news_feed/7.jpeg', '/static/img/news_feed/10.png'];
  var sizes = {};
  var loaded = 0;

  var photos = [
    {% for u in names %}
    {
      id: {{u.id}},
      url: '/static/img/news_feed/{{u.id}}.jpeg',
      title: '{{u.title}}'
    }{% if names.index(u) != len(names)-1 %},{% end if %}
    {% end for %}
  ]

  photos.forEach(function(photo) {
    var myImage = new Image();
    myImage.onload = function() {
      sizes[photo.url] = {width: myImage.width , height: myImage.height};
      loaded += 1;

      if (loaded == photos.length) {
        layoutImages();
      }
    }
    myImage.src = photo.url;
  });

  function layoutImages() {
    $('.news-feed').empty().justifiedImages({
      images : photos,
      rowHeight: 200,
      maxRowHeight: 400,
      thumbnailPath: function(photo){
          return photo.url;
      },
      getSize: function(photo){
          return sizes[photo.url];
      },
      template: function(photo) {
        var isIncomplete = incomplete.indexOf(photo.src) > -1;
        var id = photo.id.toString();
        var html = '<div class="photo-container"><a href="/list/'+id+'"><img class="ismage-thumb" src="' + photo.src + '" style="width: ' + photo.displayWidth + 'px;height: ' + photo.displayHeight + 'px;';

        if (isIncomplete) {
          html += 'opacity: 0.1'
        }

        html += '"></a>';
        html += '<p>' + photo.title + '</p>';
        return html + '</div>';
      },
      margin: 5
    });
  }
</script>
</body>
