<!DOCTYPE HTML>
<html>

{% include header.html %}

<title>
  Sign Up
</title>

<body>
  <h1>
      <img src="" alt="Temp Logo" width=80 height=80>
  </h1>
  <form action="#">

      <p>
        <input type="text" name="Username" value="Username">
        <input type="text" name="password" value="Password">
        <input type="text" name="password" value="Confirm Password">
      </p>
        <button class="Sign Up-button">
          Sign Up
        </button>
      </p>

  </form>

</body>
</html>
