<!DOCTYPE html>

{% include header.html %}

  <main class="login-section">
	<a href="/user/edit" style="color:black">
	<aside style="width:25%;border:1px solid black;position:fixed;left:5%;top:20%;">
	<h2>Profile: {{user_obj.name}}</h2>
	<img src="{{user_obj.image}}" style="width:90%;border:2px solid gray;margin:5px;">
	<p>Full Name: {{user_obj.real_name}}</p>
	<p>Email: {{user_obj.email}}</p>
	</aside></a>
	<article style="position:absolute;top:50px;width:50%;margin-left:30%;">
	<h1 style="width:90%;margin-left:5%;">{{user_obj.name}}'s Lists</h1>
	
	{%if user_obj.name == user%}
	<form style="border:1px solid black;" action="/timeline/{{user_id}}" method="post">
	<h3 style="margin-left:0px; margin-right:60%">New Bucket List</h3>
	<input type="text" name="title" size="80%" placeholder="Title">
	<button style="margin-right:0px; margin-left:70%">Create</button>
	</form>
	{%end if%}
	
	{%for list in lists%}
	<a href="/list/{{list.id}}" style="color:black;">
    <div class = "timeline_div">
	<h2 style="margin-left:-30%;margin-right:auto;">
	{%if list.title != ""%}
	{{list.title}}
	{%end if%}
	{%if list.title == ""%}
	{{user}}'s Bucket List #{{lists.index(list)+1}}
	{%end if%}
	</h2>
	<h4 style="margin-left:-35%;margin-right:auto;">Date Created: {{list.created[0:10]}}</h4>
	<p></p>
	<img src="{{objs[lists.index(list)].image}}" width="80%" style="border:2px solid lightgray;">
	<h3 class="timeline_h3"> Click to view.</h3>
	</div>
	</a>
	<br>
	{%end for%}
	</article>
  </main>
