<!DOCTYPE html>
<html>

{% include header.html %}

<body>
  <h2>
  Username's Bucket List
  </h2>
  <br>
  <img src="https://openclipart.org/image/800px/svg_to_png/194077/Placeholder.png" alt="item" width=80 height=80>
  <p>
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
  </p>
  <img src="https://openclipart.org/image/800px/svg_to_png/194077/Placeholder.png" alt="item" width=80 height=80>
  <p>
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
  </p>
  <img src="https://openclipart.org/image/800px/svg_to_png/194077/Placeholder.png" alt="item" width=80 height=80>
  <p>
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
  </p>
  <p>
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
  </p>
</body>
</html>
